*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.bg{
    height: 15vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url('head.jpg');
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.bg h2{
    font-size: 35px;
    color: #fff;
    margin-top: 15%;
    font-weight: 100;
    margin: 10px 10px;
    font-family: 'Kaushan Script', cursive;

}
.bg h1{
    font-size: 60px;
    color: yellow;
    margin-top: 5%;
    font-weight: 100;
    margin: 10px 10px;
    font-family: 'Kaushan Script', cursive;

}
.background{

    width: 100%;
   height: 100vh;
    background-image: linear-gradien(rgba(245, 105, 138,0.8),rgba(245, 105, 138,0.6));
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.container{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url('head.jpg');
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;

}
.Slide {
    display: none;
 }
 img {
    vertical-align: middle;
    width: 100%;
    height: 400px;
 }
 .slideContainer {
    max-width: 600px;
    position: relative;
    margin: auto;
 }
 .prevBtn,
 .nextBtn {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    background-color: rgb(255, 255, 75);
    color: rgb(50, 0, 116);
    font-weight: bolder;
    font-size: 18px;
 }
 .nextBtn {
    right: 0;
 }
 .Caption {
    color: #fbff09;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
 }
 .Navdot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(54, 5, 117);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
 }
 .selected,
 .Navdot:hover {
    background-color: #d9ff00;
 }
 @media only screen and (max-width: 450px) {
    .prevBtn,
    .nextBtn,
    .Caption {
       font-size: 16px;
    }
 }
 .tagline{
   font-size: 35px;
   color: #fff;
   margin-top: 15%;
   font-weight: 100;
   margin: 10px 10px;
   font-family: 'Kaushan Script', cursive;

 }
 a img{
    width: 30;
    height: 30;
    border-radius: 50%;
 }
 